/* colour palette
#FF99C8 - Carnation pink
#FCF6BD - Lemon chiffon
#A9DEF9 - Uranian blue
#D0F4DE - Nyanza
#E4C1F9 - Mauve
 */

html {
    box-sizing: content-box;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E4C1F9;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 4.5em;
    margin: 0 0;
}

h2 {
    font-size: 1.2em;
    margin: 0 0;
    box-sizing: border-box;
    /* width: 150px; */
}

.LayoutContainer {
    margin: 0 auto;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 160px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    gap: 3px;
    box-sizing: border-box;
}

.navi {
    width: 150px;
    height: 24.8px;
    border: 1px solid grey;
    
}

.main {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0 auto;
}

.itemholder {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0 auto;
    /* margin-top: 33px; */
    /* width: 60vw; */
    border: 5px dotted lightgray;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    min-width: 250px;
    height: 250px;
    border: 2px dashed darkgray;
    
}

.item1 {
    background-color: #FF99C8;
}

.item2 {
    background-color: #FCF6BD;
}

.item3 {
    background-color: #A9DEF9;
}

.item4 {
    background-color: #FF99C8;
}

.item5 {
    background-color: #FCF6BD;
}

.item6 {
    background-color: #A9DEF9;
}

.notefield {
    
}

.notet {

}

.noten {

}

@media screen and (min-width: 600px) {
    body {
        background-color: #D0F4DE;
    }

    .navbar {
        flex-direction: column;
        /* height: 100vh; */
    }

    h2 {
        text-align: right;
    }

    .navi {
        text-align: right;
    }

    .itemholder {
        /* margin-top: 0; */
    }
}

